on early-init
    start ueventd

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata

    mkdir /mnt 0775 root root

    #mount /tmp /tmp tmpfs   

on early-fs

    # rfs drivers
    #insmod /lib/modules/rfs_glue.ko
    #insmod /lib/modules/rfs_fat.ko

    # parameter block
    # remove mkdir /mnt/.lfs 0755 root root
    # remove insmod /lib/modules/j4fs.ko
    #mount j4fs /dev/block/mmcblk0p4 /mnt/.lfs
    insmod /lib/modules/param.ko


on fs
    mount tmpfs tmpfs /tmp mode=0755

    
    mount ext4 /dev/block/mmcblk0p2 /system wait

    # SEC_DMCRYPT move mounting efs befor apply_disk_policy, and set group id to system
    mkdir /efs
    mount ext4 /dev/block/mmcblk0p1 /efs nosuid nodev noatime wait 
    chown radio system /efs
    chmod 0771 /efs

#    exec apply_disk_policy

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

    #kj0225.park DeviceEncryption to Mount data partition with password encrypted
    setprop devenc.pwdui.done 0    

	class_start default

service debuggerd /system/bin/debuggerd

	service ueventd /sbin/ueventd
    	critical

#service console /bin/sh
service console /system/bin/sh
	console

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    enabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

service passcodemanager /system/bin/passcodemanager
    oneshot

# Device Encryption
service redbend_ua /sbin/redbend_ua
    disabled
    oneshot
    
on property:devenc.pwdui.done=1
    #mount rfs /dev/block/mmcblk0p2 /data nosuid nodev check=no
    mount ext4 /dev/block/mmcblk0p6 /data nosuid nodev noatime wait crypt discard
    chown system system /data
    chmod 0771 /data 
    chmod 0777 /data/fota
    #mount vfat /dev/block/mmcblk0p1 /sdcard
    start redbend_ua


