/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver  0660    media   media
/dev/s5k4ecgx	0660	media	camera
/dev/s5k6aafx	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/tegra_dc*	0666	system	system
/dev/smdctl		0660	system	radio
/dev/smddown		0660	system	radio
/dev/smdipc		0660	system	radio
/dev/smdrfs		0660	system	radio
/dev/smdcsd		0660	system	radio
/dev/block/mmcblk0p7	0660	system	radio
/dev/block/mmcblk0p5	0660	system	radio

# for GPS
/dev/ttyHS0	0600	gps	gps

# for MPL
/dev/mpu	0660	system	system
/dev/mpuirq	0660	system	system

# for AKM8975
/dev/akm8975		0660	system	system

# for usb printer
/dev/usb/lp*    0660    system  usb

# for usb device
/dev/bus/usb/*    0660   system       usb
